/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* DEFAULTS---------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #383434;
    /*font: 18px Geneva, sans-serif;*/
}
.centered {
    margin: 0 auto;
    width: 90%;
    max-width: 1800px;
}

/*HEADER------------------------------------------------------*/
.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "nav_a logo nav_b";
}

.nav_a, .nav_b {
    padding: 10px;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.nav_a ul, .nav_b ul {
    display: flex;
}

nav a {
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

nav a:hover {
    text-decoration: underline solid #E9E3DE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li, li a, .dropbtn {
    display: inline-block;
    color: #E9E3DE;
    font-family: "Cinzel", serif;
    font-size: 36px;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding: 0 16px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 1.5em;
}

.dropdown-content a:hover {
    background-color: #C1A7E1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .logo, footer .logo {
    font-family: "Kings", cursive;
    font-size: calc(100% + 3.5vw);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E9E3DE;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.logo {
    grid-area: logo;
}

header .logo a:hover, header .logo a:active, header .logo a:visited, header .logo a:link,
footer .logo a:hover, footer .logo a:active, footer .logo a:visited, footer .logo a:link{
    text-decoration: none;
    color: #E9E3DE;
}

header {
    padding: 30px 0;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    z-index: 99999;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

/*HERO SECTION------------------------------------------------------*/
body .hero {
    background: url('../assets/components/hero.png') no-repeat center;
    padding: 200px 0;
    top: 0;
    width: 100%;
    min-width: inherit !important;
}

main {
    background-size: cover;
    background: #000;
    width: 100% !important;
    left: 0;
    right: 0;
}

main h1 {
    font-family: "Cinzel", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 48px;
    color: #E9E3DE;
    padding: 60px 80px 0 80px;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #E9E3DE;
    text-align: justify;
    line-height: 1.5em;
    padding: 60px 80px 0 80px;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

button {
    font-family: "Cinzel", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #383434;
    background-color: #C1A7E1;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    width: 300px;
    animation-name: moveIn;
    animation-duration: 1.75s;
    transition: background-color 0.5s ease;
}

button:hover {
    color: #383434;
    background-color: #E9E3DE;
    cursor: pointer;
}

.hero_button {
    padding: 60px 80px 60px 80px;
    display: flex;
    column-gap: 20px;
}

/*MAIN------------------------------------------------------*/

.preview_gallery {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "img text";
    padding: 50px 0;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

h2 {
    font-family: "Cinzel", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #e3c49b;
}

.preview_gallery p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #E9E3DE;
    padding: 20px 0 40px 0;
}

.preview_img {
    grid-area: img;
}

.preview_text {
    grid-area: text;
    padding-left: 85px;
}

hr {
    color: #E3C49B;
    background-color: #E3C49B;
    height: 3px;
    width: 100%;
    margin: auto 0 auto 0;
}

/*FOOTER------------------------------------------------------*/
footer {
    background: #000;
    display: grid;
    padding: 60px 80px;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas:
        "browse projects logo";
    animation-name: moveIn;
    animation-duration: 1.75s;
}

footer li, footer a {
    display: block;
    text-align: left;
    color: #E3C49B;
    margin: 0;
    padding: 5px 0;
}

footer .browse{
    grid-area: browse;
}

footer .projects{
    grid-area: projects;
}

footer .logo {
    grid-area: logo;
    padding: 50px 80px;
}

.copyright, .copyright p {
    background-color: #000;
    color: #E9E3DE;
    text-align: center;
    padding: 0 0 20px 0;
}

/*ABOUT--------------------------------------------*/
.title {
    padding: 200px 0 0 0;
    display: grid;
    grid-template-columns: fit-content(30rem) 1fr;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.title h2 {
    text-align: left;
    padding: 0 20px 0 0;
    margin: 0;
}

.bio {
    padding-bottom: 60px;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.bio p {
    padding: 50px 0 10px 0;
}

.bio img {
    float: left;
    padding: 40px 40px 20px 0;
}

/*CONTACT -----------------------------------------------------------*/
form .submit {
    display: flex;
    margin: auto;
    column-gap: 20px;
}

input {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    background-color: #E9E3DE;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #E3C49B;
    border-radius: 5px;
}

label {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #E9E3DE;
    text-align: justify;
    line-height: 1.5em;
}

h4 {
    color: #C1A7E1;
    font-family: "Cinzel", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.full_contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 60px 0;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.full_contact p {
    padding: 20px 0 0 0;
}

/*GALLERY------------------------------------------------------------*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 60px 0;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.gallery a, .gallery span {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.gallery button {
    margin: 10px 10px 0 10px;
}

/*MAIN GALLERY ------------------------------------------------------*/
.single_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0;
    animation-name: moveIn;
    animation-duration: 1.75s;
}

.single_gallery div p {
    padding: 0 0 20px 80px;
}

.single_gallery div button {
    margin: 0 0 20px 80px;
}

/*MEDIA QUERIES------------------------------------------------------*/
@media all and (max-width: 1350px) {
    body {
        line-height: .75;
    }

    .navigation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo logo"
        "nav_a nav_b";
        grid-row-gap: 20px;
    }

    .nav_a, .nav_b {
        padding: 0;
    }

    .nav_a ul, .nav_b ul {
        display: inline-block;
        padding: 10px;
    }

    .title {
        padding: 300px 0 0 0;
    }

    .preview_gallery {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "text";
        margin: auto;
    }

    .preview_text {
        padding-top: 30px;
        padding-left: 0;
    }

    .full_contact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;

        padding: 60px 0;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .single_gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .single_gallery div p {
        padding: 20px 0 20px 0;
    }

    .single_gallery div button {
        margin: 0 0 20px 0;
    }

    footer {
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "browse"
        "projects"
        "logo";
        grid-row-gap: 20px;
    }

    footer li, footer a {
        text-align: center;
        padding: 5px;
    }

    footer .logo {
        grid-area: logo;
        padding: 0 40px;
        margin: 0;
    }
}

@media all and (max-width: 990px) {
    .navigation {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "logo"
        "nav_a"
        "nav_b";
        grid-row-gap: 20px;
    }
}

.tooltip {
    position: relative;
    color: #8f73e1;
    text-align: center;
    display: inline-block;
}

.tooltip::before {
    content: attr(data-title);
    position: absolute;
    margin-bottom: 35px;
    bottom: 100%;
    margin-left: calc(50% - 35px);
    width: calc(50% - 35px);
    padding: 12px;
    background: #777;
    background: linear-gradient(#C1A7E1, #8f73e1);
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0 #222;
    opacity: 0;
    border-radius: 6px;
    border: 1px solid #C1A7E1;
    border-top: 1px solid #eee;
    border-bottom: 3px solid #C1A7E1;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    transition: opacity 0.7s, margin-bottom 0.7s, box-shadow 0.2s;
    outline: none;
    pointer-events: none;
}

.tooltip:hover::before {
    opacity: 1;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
}

.tooltip::after {
    content: "";
    position: absolute;
    margin-bottom: 27px;
    bottom: 100%;
    margin-left: calc(-50% - 6px);
    width: 1px;
    height: 1px;
    border-top: 10px solid #C1A7E1;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.7s, margin-bottom 0.7s;
    pointer-events: none;
}

.tooltip:hover::after {
    margin-bottom: 7px;
    opacity: 1;
}

@keyframes moveIn {
    0%   {top:-50px; opacity: 0;}
    100% {top:0; opacity: 100%;}
}